# Idea
- Get first timestamp
- Resample Dataset to same timewindow
- Merge?

In [1]:
DEVICE_SOURCE = "Xi_sensor_2"

TIME_WINDOW = "30s"

In [2]:
from pathlib import Path

import numpy as np
import pandas as pd
import pickle

In [4]:
sys_data_file_path = Path('/media/<User>/DC/IS_Data_Exploration_and_Feature_Engineering_for_an_IoT_Device_Behavior_Fingerprinting_Dataset/sys_system_calls_Xi_sensor_2/merged_data.npz')
assert sys_data_file_path.exists(), 'Data not found'
vocab_file = Path("/media/<User>/DC/IS_Data_Exploration_and_Feature_Engineering_for_an_IoT_Device_Behavior_Fingerprinting_Dataset/sys_system_calls_Xi_sensor_2/vocabulary.pkl")
assert vocab_file.exists(), f"Vocab file at {vocab_file} does not exist."

In [4]:
import sys
repo_base_path = Path("./../../").resolve()
assert str(repo_base_path).endswith("csg_is"), f"{repo_base_path} is not a valid path to the CSG_IS repository" 

sys.path.append(str(repo_base_path))

from py_dataset import get_all_files_df
from py_dataset import read_in_files
from py_dataset import feature_plotting
from py_dataset import feature_selection
from py_dataset import net_feature_engineering
from py_dataset import entropy_feature_engineering
from py_dataset import sys_func

from py_dataset.classes import DataSource

In [5]:
feature_path = repo_base_path / "data_merg" /"top_260_features.pkl"

with open(feature_path, "rb") as f:
    SELECTED_FEATURES = pickle.load(f)

In [6]:
data_path = Path('/media/<User>/DC/MAP_CreationOfNewDatasetsForDFL/code&data/0_raw_collected_data/')
assert data_path.exists()

df = get_all_files_df.main(data_path)
df.head(1)

txt file found, will drop /media/<User>/DC/MAP_CreationOfNewDatasetsForDFL/code&data/0_raw_collected_data/Heqing/device1/3_thetick_4h/collections.txt
txt file found, will drop /media/<User>/DC/MAP_CreationOfNewDatasetsForDFL/code&data/0_raw_collected_data/Heqing/device2/1_normal/note.txt
                                           file_path
0  /media/<User>/DC/MAP_CreationOfNewDatasetsForDFL/...
RangeIndex(start=0, stop=622, step=1)
csv    530
zip     92
Name: filetype, dtype: int64
                                           file_path filetype  filesize_bytes
0  /media/<User>/DC/MAP_CreationOfNewDatasetsForDFL/...      csv           49419
data_source
SYS_data        92
FLS_data        91
KERN_data       91
RES_data        91
block_data      91
network_data    91
entropy_data    75
dtype: int64

,file_path,filetype,filesize_bytes,researcher_name,device_name,label,data_source,file_name,device
0,/media//DC/MAP_CreationOfNewDatasetsForDFL/...,csv,49419,Heqing,device1,1_normal,block_data,e4_5f_01_68_35_e6.csv,Heqing_device1

In [7]:
single_dev = df[df["device"] == DEVICE_SOURCE]
assert len(single_dev["device"].unique()) == 1
print(single_dev.shape)

df = single_dev

(57, 9)

### Get First TimeStamp

In [8]:
def prepare_files(row, resample_time_window):
    if row["filetype"] != "csv" and row["filetype"] != "zip":
        return None

    min_t, max_t, df_t = read_in_files.get_all_timestamps(row['file_path'], row["filetype"],
                                            resample_time_window=resample_time_window)

    row["min_t"] = min_t
    row["max_t"] = max_t

    return row

rows = []
for k, row in df.iterrows():
    x = prepare_files(row, resample_time_window=None)

    rows.append(x)

df_timestamps = pd.DataFrame(rows)

! Dropped rows in DataFrames: (1,)
timestamp   NaN
Name: 1264, dtype: float64
! Dropped rows in DataFrames: (1065,)
timestamp   NaN
Name: 1, dtype: float64
timestamp   NaN
Name: 3, dtype: float64
timestamp   NaN
Name: 5, dtype: float64
timestamp   NaN
Name: 7, dtype: float64
timestamp   NaN
Name: 9, dtype: float64
timestamp   NaN
Name: 11, dtype: float64
timestamp   NaN
Name: 13, dtype: float64
timestamp   NaN
Name: 15, dtype: float64
timestamp   NaN
Name: 17, dtype: float64
timestamp   NaN
Name: 19, dtype: float64
timestamp   NaN
Name: 21, dtype: float64
timestamp   NaN
Name: 23, dtype: float64
timestamp   NaN
Name: 25, dtype: float64
timestamp   NaN
Name: 27, dtype: float64
timestamp   NaN
Name: 29, dtype: float64
timestamp   NaN
Name: 31, dtype: float64
timestamp   NaN
Name: 33, dtype: float64
timestamp   NaN
Name: 35, dtype: float64
timestamp   NaN
Name: 37, dtype: float64
timestamp   NaN
Name: 39, dtype: float64
timestamp   NaN
Name: 41, dtype: float64
timestamp   NaN
Name: 43, dtype: float64
timestamp   NaN
Name: 45, dtype: float64
timestamp   NaN
Name: 47, dtype: float64
timestamp   NaN
Name: 49, dtype: float64
timestamp   NaN
Name: 51, dtype: float64
timestamp   NaN
Name: 53, dtype: float64
timestamp   NaN
Name: 55, dtype: float64
timestamp   NaN
Name: 57, dtype: float64
timestamp   NaN
Name: 59, dtype: float64
timestamp   NaN
Name: 61, dtype: float64
timestamp   NaN
Name: 63, dtype: float64
timestamp   NaN
Name: 65, dtype: float64
timestamp   NaN
Name: 67, dtype: float64
timestamp   NaN
Name: 69, dtype: float64
timestamp   NaN
Name: 71, dtype: float64
timestamp   NaN
Name: 73, dtype: float64
timestamp   NaN
Name: 75, dtype: float64
timestamp   NaN
Name: 77, dtype: float64
timestamp   NaN
Name: 79, dtype: float64
timestamp   NaN
Name: 81, dtype: float64
timestamp   NaN
Name: 83, dtype: float64
timestamp   NaN
Name: 85, dtype: float64
timestamp   NaN
Name: 87, dtype: float64
timestamp   NaN
Name: 89, dtype: float64
timestamp   NaN
Name: 91, dtype: float64
timestamp   NaN
Name: 93, dtype: float64
timestamp   NaN
Name: 95, dtype: float64
timestamp   NaN
Name: 97, dtype: float64
timestamp   NaN
Name: 99, dtype: float64
timestamp   NaN
Name: 101, dtype: float64
timestamp   NaN
Name: 103, dtype: float64
timestamp   NaN
Name: 105, dtype: float64
timestamp   NaN
Name: 107, dtype: float64
timestamp   NaN
Name: 109, dtype: float64
timestamp   NaN
Name: 111, dtype: float64
timestamp   NaN
Name: 113, dtype: float64
timestamp   NaN
Name: 115, dtype: float64
timestamp   NaN
Name: 117, dtype: float64
timestamp   NaN
Name: 119, dtype: float64
timestamp   NaN
Name: 121, dtype: float64
timestamp   NaN
Name: 123, dtype: float64
timestamp   NaN
Name: 125, dtype: float64
timestamp   NaN
Name: 127, dtype: float64
timestamp   NaN
Name: 129, dtype: float64
timestamp   NaN
Name: 131, dtype: float64
timestamp   NaN
Name: 133, dtype: float64
timestamp   NaN
Name: 135, dtype: float64
timestamp   NaN
Name: 137, dtype: float64
timestamp   NaN
Name: 139, dtype: float64
timestamp   NaN
Name: 141, dtype: float64
timestamp   NaN
Name: 143, dtype: float64
timestamp   NaN
Name: 145, dtype: float64
timestamp   NaN
Name: 147, dtype: float64
timestamp   NaN
Name: 149, dtype: float64
timestamp   NaN
Name: 151, dtype: float64
timestamp   NaN
Name: 153, dtype: float64
timestamp   NaN
Name: 155, dtype: float64
timestamp   NaN
Name: 157, dtype: float64
timestamp   NaN
Name: 159, dtype: float64
timestamp   NaN
Name: 161, dtype: float64
timestamp   NaN
Name: 163, dtype: float64
timestamp   NaN
Name: 165, dtype: float64
timestamp   NaN
Name: 167, dtype: float64
timestamp   NaN
Name: 169, dtype: float64
timestamp   NaN
Name: 171, dtype: float64
timestamp   NaN
Name: 173, dtype: float64
timestamp   NaN
Name: 175, dtype: float64
timestamp   NaN
Name: 177, dtype: float64
timestamp   NaN
Name: 179, dtype: float64
timestamp   NaN
Name: 181, dtype: float64
timestamp   NaN
Name: 183, dtype: float64
timestamp   NaN
Name: 185, dtype: float64
timestamp   NaN
Name: 187, dtype: float64
timestamp   NaN
Name: 189, dtype: float64
timestamp   NaN
Name: 191, dtype: float64
timestamp   NaN
Name: 193, dtype: float64
timestamp   NaN
Name: 195, dtype: float64
timestamp   NaN
Name: 197, dtype: float64
timestamp   NaN
Name: 199, dtype: float64
timestamp   NaN
Name: 201, dtype: float64
timestamp   NaN
Name: 203, dtype: float64
timestamp   NaN
Name: 205, dtype: float64
timestamp   NaN
Name: 207, dtype: float64
timestamp   NaN
Name: 209, dtype: float64
timestamp   NaN
Name: 211, dtype: float64
timestamp   NaN
Name: 213, dtype: float64
timestamp   NaN
Name: 215, dtype: float64
timestamp   NaN
Name: 217, dtype: float64
timestamp   NaN
Name: 219, dtype: float64
timestamp   NaN
Name: 221, dtype: float64
timestamp   NaN
Name: 223, dtype: float64
timestamp   NaN
Name: 225, dtype: float64
timestamp   NaN
Name: 227, dtype: float64
timestamp   NaN
Name: 229, dtype: float64
timestamp   NaN
Name: 231, dtype: float64
timestamp   NaN
Name: 233, dtype: float64
timestamp   NaN
Name: 235, dtype: float64
timestamp   NaN
Name: 237, dtype: float64
timestamp   NaN
Name: 239, dtype: float64
timestamp   NaN
Name: 241, dtype: float64
timestamp   NaN
Name: 243, dtype: float64
timestamp   NaN
Name: 245, dtype: float64
timestamp   NaN
Name: 247, dtype: float64
timestamp   NaN
Name: 249, dtype: float64
timestamp   NaN
Name: 251, dtype: float64
timestamp   NaN
Name: 253, dtype: float64
timestamp   NaN
Name: 255, dtype: float64
timestamp   NaN
Name: 257, dtype: float64
timestamp   NaN
Name: 259, dtype: float64
timestamp   NaN
Name: 261, dtype: float64
timestamp   NaN
Name: 263, dtype: float64
timestamp   NaN
Name: 265, dtype: float64
timestamp   NaN
Name: 267, dtype: float64
timestamp   NaN
Name: 269, dtype: float64
timestamp   NaN
Name: 271, dtype: float64
timestamp   NaN
Name: 273, dtype: float64
timestamp   NaN
Name: 275, dtype: float64
timestamp   NaN
Name: 277, dtype: float64
timestamp   NaN
Name: 279, dtype: float64
timestamp   NaN
Name: 281, dtype: float64
timestamp   NaN
Name: 283, dtype: float64
timestamp   NaN
Name: 285, dtype: float64
timestamp   NaN
Name: 287, dtype: float64
timestamp   NaN
Name: 289, dtype: float64
timestamp   NaN
Name: 291, dtype: float64
timestamp   NaN
Name: 293, dtype: float64
timestamp   NaN
Name: 295, dtype: float64
timestamp   NaN
Name: 297, dtype: float64
timestamp   NaN
Name: 299, dtype: float64
timestamp   NaN
Name: 301, dtype: float64
timestamp   NaN
Name: 303, dtype: float64
timestamp   NaN
Name: 305, dtype: float64
timestamp   NaN
Name: 307, dtype: float64
timestamp   NaN
Name: 309, dtype: float64
timestamp   NaN
Name: 311, dtype: float64
timestamp   NaN
Name: 313, dtype: float64
timestamp   NaN
Name: 315, dtype: float64
timestamp   NaN
Name: 317, dtype: float64
timestamp   NaN
Name: 319, dtype: float64
timestamp   NaN
Name: 321, dtype: float64
timestamp   NaN
Name: 323, dtype: float64
timestamp   NaN
Name: 325, dtype: float64
timestamp   NaN
Name: 327, dtype: float64
timestamp   NaN
Name: 329, dtype: float64
timestamp   NaN
Name: 331, dtype: float64
timestamp   NaN
Name: 333, dtype: float64
timestamp   NaN
Name: 335, dtype: float64
timestamp   NaN
Name: 337, dtype: float64
timestamp   NaN
Name: 339, dtype: float64
timestamp   NaN
Name: 341, dtype: float64
timestamp   NaN
Name: 343, dtype: float64
timestamp   NaN
Name: 345, dtype: float64
timestamp   NaN
Name: 347, dtype: float64
timestamp   NaN
Name: 349, dtype: float64
timestamp   NaN
Name: 351, dtype: float64
timestamp   NaN
Name: 353, dtype: float64
timestamp   NaN
Name: 355, dtype: float64
timestamp   NaN
Name: 357, dtype: float64
timestamp   NaN
Name: 359, dtype: float64
timestamp   NaN
Name: 361, dtype: float64
timestamp   NaN
Name: 363, dtype: float64
timestamp   NaN
Name: 365, dtype: float64
timestamp   NaN
Name: 367, dtype: float64
timestamp   NaN
Name: 369, dtype: float64
timestamp   NaN
Name: 371, dtype: float64
timestamp   NaN
Name: 373, dtype: float64
timestamp   NaN
Name: 375, dtype: float64
timestamp   NaN
Name: 377, dtype: float64
timestamp   NaN
Name: 379, dtype: float64
timestamp   NaN
Name: 381, dtype: float64
timestamp   NaN
Name: 383, dtype: float64
timestamp   NaN
Name: 385, dtype: float64
timestamp   NaN
Name: 387, dtype: float64
timestamp   NaN
Name: 389, dtype: float64
timestamp   NaN
Name: 391, dtype: float64
timestamp   NaN
Name: 393, dtype: float64
timestamp   NaN
Name: 395, dtype: float64
timestamp   NaN
Name: 397, dtype: float64
timestamp   NaN
Name: 399, dtype: float64
timestamp   NaN
Name: 401, dtype: float64
timestamp   NaN
Name: 403, dtype: float64
timestamp   NaN
Name: 405, dtype: float64
timestamp   NaN
Name: 407, dtype: float64
timestamp   NaN
Name: 409, dtype: float64
timestamp   NaN
Name: 411, dtype: float64
timestamp   NaN
Name: 413, dtype: float64
timestamp   NaN
Name: 415, dtype: float64
timestamp   NaN
Name: 417, dtype: float64
timestamp   NaN
Name: 419, dtype: float64
timestamp   NaN
Name: 421, dtype: float64
timestamp   NaN
Name: 423, dtype: float64
timestamp   NaN
Name: 425, dtype: float64
timestamp   NaN
Name: 427, dtype: float64
timestamp   NaN
Name: 429, dtype: float64
timestamp   NaN
Name: 431, dtype: float64
timestamp   NaN
Name: 433, dtype: float64
timestamp   NaN
Name: 435, dtype: float64
timestamp   NaN
Name: 437, dtype: float64
timestamp   NaN
Name: 439, dtype: float64
timestamp   NaN
Name: 441, dtype: float64
timestamp   NaN
Name: 443, dtype: float64
timestamp   NaN
Name: 445, dtype: float64
timestamp   NaN
Name: 447, dtype: float64
timestamp   NaN
Name: 449, dtype: float64
timestamp   NaN
Name: 451, dtype: float64
timestamp   NaN
Name: 453, dtype: float64
timestamp   NaN
Name: 455, dtype: float64
timestamp   NaN
Name: 457, dtype: float64
timestamp   NaN
Name: 459, dtype: float64
timestamp   NaN
Name: 461, dtype: float64
timestamp   NaN
Name: 463, dtype: float64
timestamp   NaN
Name: 465, dtype: float64
timestamp   NaN
Name: 467, dtype: float64
timestamp   NaN
Name: 469, dtype: float64
timestamp   NaN
Name: 471, dtype: float64
timestamp   NaN
Name: 473, dtype: float64
timestamp   NaN
Name: 475, dtype: float64
timestamp   NaN
Name: 477, dtype: float64
timestamp   NaN
Name: 479, dtype: float64
timestamp   NaN
Name: 481, dtype: float64
timestamp   NaN
Name: 483, dtype: float64
timestamp   NaN
Name: 485, dtype: float64
timestamp   NaN
Name: 487, dtype: float64
timestamp   NaN
Name: 489, dtype: float64
timestamp   NaN
Name: 491, dtype: float64
timestamp   NaN
Name: 493, dtype: float64
timestamp   NaN
Name: 495, dtype: float64
timestamp   NaN
Name: 497, dtype: float64
timestamp   NaN
Name: 499, dtype: float64
timestamp   NaN
Name: 501, dtype: float64
timestamp   NaN
Name: 503, dtype: float64
timestamp   NaN
Name: 505, dtype: float64
timestamp   NaN
Name: 507, dtype: float64
timestamp   NaN
Name: 509, dtype: float64
timestamp   NaN
Name: 511, dtype: float64
timestamp   NaN
Name: 513, dtype: float64
timestamp   NaN
Name: 515, dtype: float64
timestamp   NaN
Name: 517, dtype: float64
timestamp   NaN
Name: 519, dtype: float64
timestamp   NaN
Name: 521, dtype: float64
timestamp   NaN
Name: 523, dtype: float64
timestamp   NaN
Name: 525, dtype: float64
timestamp   NaN
Name: 527, dtype: float64
timestamp   NaN
Name: 529, dtype: float64
timestamp   NaN
Name: 531, dtype: float64
timestamp   NaN
Name: 533, dtype: float64
timestamp   NaN
Name: 535, dtype: float64
timestamp   NaN
Name: 537, dtype: float64
timestamp   NaN
Name: 539, dtype: float64
timestamp   NaN
Name: 541, dtype: float64
timestamp   NaN
Name: 543, dtype: float64
timestamp   NaN
Name: 545, dtype: float64
timestamp   NaN
Name: 547, dtype: float64
timestamp   NaN
Name: 549, dtype: float64
timestamp   NaN
Name: 551, dtype: float64
timestamp   NaN
Name: 553, dtype: float64
timestamp   NaN
Name: 555, dtype: float64
timestamp   NaN
Name: 557, dtype: float64
timestamp   NaN
Name: 559, dtype: float64
timestamp   NaN
Name: 561, dtype: float64
timestamp   NaN
Name: 563, dtype: float64
timestamp   NaN
Name: 565, dtype: float64
timestamp   NaN
Name: 567, dtype: float64
timestamp   NaN
Name: 569, dtype: float64
timestamp   NaN
Name: 571, dtype: float64
timestamp   NaN
Name: 573, dtype: float64
timestamp   NaN
Name: 575, dtype: float64
timestamp   NaN
Name: 577, dtype: float64
timestamp   NaN
Name: 579, dtype: float64
timestamp   NaN
Name: 581, dtype: float64
timestamp   NaN
Name: 583, dtype: float64
timestamp   NaN
Name: 585, dtype: float64
timestamp   NaN
Name: 587, dtype: float64
timestamp   NaN
Name: 589, dtype: float64
timestamp   NaN
Name: 591, dtype: float64
timestamp   NaN
Name: 593, dtype: float64
timestamp   NaN
Name: 595, dtype: float64
timestamp   NaN
Name: 597, dtype: float64
timestamp   NaN
Name: 599, dtype: float64
timestamp   NaN
Name: 601, dtype: float64
timestamp   NaN
Name: 603, dtype: float64
timestamp   NaN
Name: 605, dtype: float64
timestamp   NaN
Name: 607, dtype: float64
timestamp   NaN
Name: 609, dtype: float64
timestamp   NaN
Name: 611, dtype: float64
timestamp   NaN
Name: 613, dtype: float64
timestamp   NaN
Name: 615, dtype: float64
timestamp   NaN
Name: 617, dtype: float64
timestamp   NaN
Name: 619, dtype: float64
timestamp   NaN
Name: 621, dtype: float64
timestamp   NaN
Name: 623, dtype: float64
timestamp   NaN
Name: 625, dtype: float64
timestamp   NaN
Name: 627, dtype: float64
timestamp   NaN
Name: 629, dtype: float64
timestamp   NaN
Name: 631, dtype: float64
timestamp   NaN
Name: 633, dtype: float64
timestamp   NaN
Name: 635, dtype: float64
timestamp   NaN
Name: 637, dtype: float64
timestamp   NaN
Name: 639, dtype: float64
timestamp   NaN
Name: 641, dtype: float64
timestamp   NaN
Name: 643, dtype: float64
timestamp   NaN
Name: 645, dtype: float64
timestamp   NaN
Name: 647, dtype: float64
timestamp   NaN
Name: 649, dtype: float64
timestamp   NaN
Name: 651, dtype: float64
timestamp   NaN
Name: 653, dtype: float64
timestamp   NaN
Name: 655, dtype: float64
timestamp   NaN
Name: 657, dtype: float64
timestamp   NaN
Name: 659, dtype: float64
timestamp   NaN
Name: 661, dtype: float64
timestamp   NaN
Name: 663, dtype: float64
timestamp   NaN
Name: 665, dtype: float64
timestamp   NaN
Name: 667, dtype: float64
timestamp   NaN
Name: 669, dtype: float64
timestamp   NaN
Name: 671, dtype: float64
timestamp   NaN
Name: 673, dtype: float64
timestamp   NaN
Name: 675, dtype: float64
timestamp   NaN
Name: 677, dtype: float64
timestamp   NaN
Name: 679, dtype: float64
timestamp   NaN
Name: 681, dtype: float64
timestamp   NaN
Name: 683, dtype: float64
timestamp   NaN
Name: 685, dtype: float64
timestamp   NaN
Name: 687, dtype: float64
timestamp   NaN
Name: 689, dtype: float64
timestamp   NaN
Name: 691, dtype: float64
timestamp   NaN
Name: 693, dtype: float64
timestamp   NaN
Name: 695, dtype: float64
timestamp   NaN
Name: 697, dtype: float64
timestamp   NaN
Name: 699, dtype: float64
timestamp   NaN
Name: 701, dtype: float64
timestamp   NaN
Name: 703, dtype: float64
timestamp   NaN
Name: 705, dtype: float64
timestamp   NaN
Name: 707, dtype: float64
timestamp   NaN
Name: 709, dtype: float64
timestamp   NaN
Name: 711, dtype: float64
timestamp   NaN
Name: 713, dtype: float64
timestamp   NaN
Name: 715, dtype: float64
timestamp   NaN
Name: 717, dtype: float64
timestamp   NaN
Name: 719, dtype: float64
timestamp   NaN
Name: 721, dtype: float64
timestamp   NaN
Name: 723, dtype: float64
timestamp   NaN
Name: 725, dtype: float64
timestamp   NaN
Name: 727, dtype: float64
timestamp   NaN
Name: 729, dtype: float64
timestamp   NaN
Name: 731, dtype: float64
timestamp   NaN
Name: 733, dtype: float64
timestamp   NaN
Name: 735, dtype: float64
timestamp   NaN
Name: 737, dtype: float64
timestamp   NaN
Name: 739, dtype: float64
timestamp   NaN
Name: 741, dtype: float64
timestamp   NaN
Name: 743, dtype: float64
timestamp   NaN
Name: 745, dtype: float64
timestamp   NaN
Name: 747, dtype: float64
timestamp   NaN
Name: 749, dtype: float64
timestamp   NaN
Name: 751, dtype: float64
timestamp   NaN
Name: 753, dtype: float64
timestamp   NaN
Name: 755, dtype: float64
timestamp   NaN
Name: 757, dtype: float64
timestamp   NaN
Name: 759, dtype: float64
timestamp   NaN
Name: 761, dtype: float64
timestamp   NaN
Name: 763, dtype: float64
timestamp   NaN
Name: 765, dtype: float64
timestamp   NaN
Name: 767, dtype: float64
timestamp   NaN
Name: 769, dtype: float64
timestamp   NaN
Name: 771, dtype: float64
timestamp   NaN
Name: 773, dtype: float64
timestamp   NaN
Name: 775, dtype: float64
timestamp   NaN
Name: 777, dtype: float64
timestamp   NaN
Name: 779, dtype: float64
timestamp   NaN
Name: 781, dtype: float64
timestamp   NaN
Name: 783, dtype: float64
timestamp   NaN
Name: 785, dtype: float64
timestamp   NaN
Name: 787, dtype: float64
timestamp   NaN
Name: 789, dtype: float64
timestamp   NaN
Name: 791, dtype: float64
timestamp   NaN
Name: 793, dtype: float64
timestamp   NaN
Name: 795, dtype: float64
timestamp   NaN
Name: 797, dtype: float64
timestamp   NaN
Name: 799, dtype: float64
timestamp   NaN
Name: 801, dtype: float64
timestamp   NaN
Name: 803, dtype: float64
timestamp   NaN
Name: 805, dtype: float64
timestamp   NaN
Name: 807, dtype: float64
timestamp   NaN
Name: 809, dtype: float64
timestamp   NaN
Name: 811, dtype: float64
timestamp   NaN
Name: 813, dtype: float64
timestamp   NaN
Name: 815, dtype: float64
timestamp   NaN
Name: 817, dtype: float64
timestamp   NaN
Name: 819, dtype: float64
timestamp   NaN
Name: 821, dtype: float64
timestamp   NaN
Name: 823, dtype: float64
timestamp   NaN
Name: 825, dtype: float64
timestamp   NaN
Name: 827, dtype: float64
timestamp   NaN
Name: 829, dtype: float64
timestamp   NaN
Name: 831, dtype: float64
timestamp   NaN
Name: 833, dtype: float64
timestamp   NaN
Name: 835, dtype: float64
timestamp   NaN
Name: 837, dtype: float64
timestamp   NaN
Name: 839, dtype: float64
timestamp   NaN
Name: 841, dtype: float64
timestamp   NaN
Name: 843, dtype: float64
timestamp   NaN
Name: 845, dtype: float64
timestamp   NaN
Name: 847, dtype: float64
timestamp   NaN
Name: 849, dtype: float64
timestamp   NaN
Name: 851, dtype: float64
timestamp   NaN
Name: 853, dtype: float64
timestamp   NaN
Name: 855, dtype: float64
timestamp   NaN
Name: 857, dtype: float64
timestamp   NaN
Name: 859, dtype: float64
timestamp   NaN
Name: 861, dtype: float64
timestamp   NaN
Name: 863, dtype: float64
timestamp   NaN
Name: 865, dtype: float64
timestamp   NaN
Name: 867, dtype: float64
timestamp   NaN
Name: 869, dtype: float64
timestamp   NaN
Name: 871, dtype: float64
timestamp   NaN
Name: 873, dtype: float64
timestamp   NaN
Name: 875, dtype: float64
timestamp   NaN
Name: 877, dtype: float64
timestamp   NaN
Name: 879, dtype: float64
timestamp   NaN
Name: 881, dtype: float64
timestamp   NaN
Name: 883, dtype: float64
timestamp   NaN
Name: 885, dtype: float64
timestamp   NaN
Name: 887, dtype: float64
timestamp   NaN
Name: 889, dtype: float64
timestamp   NaN
Name: 891, dtype: float64
timestamp   NaN
Name: 893, dtype: float64
timestamp   NaN
Name: 895, dtype: float64
timestamp   NaN
Name: 897, dtype: float64
timestamp   NaN
Name: 899, dtype: float64
timestamp   NaN
Name: 901, dtype: float64
timestamp   NaN
Name: 903, dtype: float64
timestamp   NaN
Name: 905, dtype: float64
timestamp   NaN
Name: 907, dtype: float64
timestamp   NaN
Name: 909, dtype: float64
timestamp   NaN
Name: 911, dtype: float64
timestamp   NaN
Name: 913, dtype: float64
timestamp   NaN
Name: 915, dtype: float64
timestamp   NaN
Name: 917, dtype: float64
timestamp   NaN
Name: 919, dtype: float64
timestamp   NaN
Name: 921, dtype: float64
timestamp   NaN
Name: 923, dtype: float64
timestamp   NaN
Name: 925, dtype: float64
timestamp   NaN
Name: 927, dtype: float64
timestamp   NaN
Name: 929, dtype: float64
timestamp   NaN
Name: 931, dtype: float64
timestamp   NaN
Name: 933, dtype: float64
timestamp   NaN
Name: 935, dtype: float64
timestamp   NaN
Name: 937, dtype: float64
timestamp   NaN
Name: 939, dtype: float64
timestamp   NaN
Name: 941, dtype: float64
timestamp   NaN
Name: 943, dtype: float64
timestamp   NaN
Name: 945, dtype: float64
timestamp   NaN
Name: 947, dtype: float64
timestamp   NaN

In [9]:
START = df_timestamps["min_t"].min()
f'Timestamps between: {df_timestamps["min_t"].min()} and {df_timestamps["max_t"].max()}'

'Timestamps between: 2023-11-04 07:38:05 and 2023-11-14 23:11:55'

### Resample files

In [10]:
def only_return_selected_columns(df: pd.DataFrame) -> pd.DataFrame:
    selected_cols = SELECTED_FEATURES & set(df.columns)
    return df[list(selected_cols)]

def create_window_sliced_depending_on_type(df: pd.DataFrame, start_timestamp: pd.Timestamp) -> pd.DataFrame:
    data_type = DataSource.from_columns(df.columns.tolist())
    print(f"Data type: {data_type}")

    match data_type:
        case (
            DataSource.FileSystem | DataSource.KernelEvents | DataSource.ResourceUsageEvents | DataSource.ResourceUsageEvents_RP4  | DataSource.BlockInputOutputEvents
        ):
            df = only_return_selected_columns(df)
            df = feature_plotting.test_transform_all_to_numeric_columns(df.copy())
            return df.resample(TIME_WINDOW, origin=start_timestamp).mean()
        case DataSource.NetRecords:
            mean_df = net_feature_engineering.create_mean_net_df_single_label(df, time_window=TIME_WINDOW, start=start_timestamp)
            return only_return_selected_columns(mean_df)
        case DataSource.Entropy:
            if "entropy_file_count" not in SELECTED_FEATURES:
                return None
            return entropy_feature_engineering.resample_high_entropy_grouping_by_label_single_label(df, time_window=TIME_WINDOW, start=start_timestamp)
            
        case DataSource.SystemCalls:
            raise NotImplementedError("SystemCalls not implemented yet")
        

def check_if_keep_source(columns):
    data_type = DataSource.from_columns(columns.tolist())
    if data_type in [DataSource.SystemCalls, DataSource.Entropy, DataSource.NetRecords]:
        return True

    chosen_cols_from_source = data_type.value & SELECTED_FEATURES

    return any(chosen_cols_from_source)

In [11]:

df_mean_collection: list[pd.DataFrame] = []

for source, group_df in df.groupby(["data_source"]):
    dfs_same_source = []

    checked_source = False
    for k, row in group_df.iterrows():
        if row["filetype"] != "csv":
            print(f"Skipping {row['file_path']}")
            continue


        df_t = read_in_files.get_all_columns(row['file_path'], row["filetype"])
        if not checked_source:
            if not check_if_keep_source(df_t.columns):
                print(f"Skipping {source}")
                break
            checked_source = True

        try:
            df_mean = create_window_sliced_depending_on_type(df_t, start_timestamp=START)
        except Exception as ex:
            print(f"Problem in file {row['file_path']}")
            raise ex
        
        if df_mean is None:
            print(f"Skipping {row['file_path']}")
            continue
        
        df_mean = df_mean.copy()
        print(f"Shape: {df_mean.shape}")
        df_mean["label"] = row["label"]
        df_mean["device"] = row["device"]
        df_mean["data_source"] = row["data_source"]

        # print(f"Start and End of Index Timestamp: {df_mean.index[0]} - {df_mean.index[-1]}")
        dfs_same_source.append(df_mean)

    if len(dfs_same_source) == 0:
        print(f"Skipping {source}")
        continue
    same_df = pd.concat(dfs_same_source, axis=0)
    print(f"same_df shape: {same_df.shape}")
    df_mean_collection.append(same_df)
    # break

len(df_mean_collection)

/tmp/ipykernel_44461/1828661645.py:3: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for source, group_df in df.groupby(["data_source"]):

Data type: DataSource.FileSystem
Shape: (480, 54)
Data type: DataSource.FileSystem
Shape: (481, 54)
Data type: DataSource.FileSystem
Shape: (481, 54)
Data type: DataSource.FileSystem
Shape: (541, 54)
Data type: DataSource.FileSystem
Shape: (480, 54)
Data type: DataSource.FileSystem
Shape: (481, 54)
Data type: DataSource.FileSystem
Shape: (481, 54)
Data type: DataSource.FileSystem
Shape: (482, 54)
Data type: DataSource.FileSystem
Shape: (483, 54)
same_df shape: (4390, 57)
Data type: DataSource.KernelEvents
Shape: (481, 56)
Data type: DataSource.KernelEvents
Shape: (483, 56)
Data type: DataSource.KernelEvents
Shape: (481, 56)
Data type: DataSource.KernelEvents
Shape: (541, 56)
Data type: DataSource.KernelEvents
Shape: (481, 56)
Data type: DataSource.KernelEvents
Shape: (481, 56)
Data type: DataSource.KernelEvents
Shape: (482, 56)
Data type: DataSource.KernelEvents
Shape: (483, 56)
Data type: DataSource.KernelEvents
Shape: (484, 56)
same_df shape: (4397, 59)
Data type: DataSource.ResourceUsageEvents
Shape: (481, 73)
Data type: DataSource.ResourceUsageEvents
Shape: (482, 73)
Data type: DataSource.ResourceUsageEvents
Shape: (481, 73)
Data type: DataSource.ResourceUsageEvents
Shape: (541, 73)
Data type: DataSource.ResourceUsageEvents
Shape: (481, 73)
! Dropped rows in DataFrames: (1,)
time                                                time
cpu                                                  cpu
seconds                                          seconds
ioread                                            ioread
iowrite                                          iowrite
                                         ...
rpm:rpm_return_int                    rpm:rpm_return_int
fib:fib_table_lookup                fib:fib_table_lookup
raw_syscalls:sys_enter            raw_syscalls:sys_enter
random:credit_entropy_bits    random:credit_entropy_bits
timestamp                                            NaN
Name: 209, Length: 118, dtype: object
Data type: DataSource.ResourceUsageEvents
Shape: (481, 73)
Data type: DataSource.ResourceUsageEvents
Shape: (481, 73)
Data type: DataSource.ResourceUsageEvents
Shape: (481, 73)
Data type: DataSource.ResourceUsageEvents
Shape: (483, 73)
same_df shape: (4392, 76)
Skipping /media/<User>/DC/MAP_CreationOfNewDatasetsForDFL/code&data/0_raw_collected_data/Xi/sensor_2/1_normal/SYS_data/normal.zip
Skipping /media/<User>/DC/MAP_CreationOfNewDatasetsForDFL/code&data/0_raw_collected_data/Xi/sensor_2/2_ransomware/SYS_data/ransomware-PoC.zip
Skipping /media/<User>/DC/MAP_CreationOfNewDatasetsForDFL/code&data/0_raw_collected_data/Xi/sensor_2/3_thetick/SYS_data/thetick.zip
Skipping /media/<User>/DC/MAP_CreationOfNewDatasetsForDFL/code&data/0_raw_collected_data/Xi/sensor_2/4_bashlite/SYS_data/bashlite.zip
Skipping /media/<User>/DC/MAP_CreationOfNewDatasetsForDFL/code&data/0_raw_collected_data/Xi/sensor_2/5_httpbackdoor/SYS_data/httpbackdoor.zip
Skipping /media/<User>/DC/MAP_CreationOfNewDatasetsForDFL/code&data/0_raw_collected_data/Xi/sensor_2/6_beurk/SYS_data/beurk.zip
Skipping /media/<User>/DC/MAP_CreationOfNewDatasetsForDFL/code&data/0_raw_collected_data/Xi/sensor_2/7_backdoor/SYS_data/backdoor.zip
Skipping /media/<User>/DC/MAP_CreationOfNewDatasetsForDFL/code&data/0_raw_collected_data/Xi/sensor_2/8_bdvl/SYS_data/bdvl.zip
Skipping /media/<User>/DC/MAP_CreationOfNewDatasetsForDFL/code&data/0_raw_collected_data/Xi/sensor_2/9_xmrig/SYS_data/XMRig.zip
Skipping SYS_data
Data type: DataSource.BlockInputOutputEvents
Shape: (481, 3)
Data type: DataSource.BlockInputOutputEvents
Shape: (483, 3)
Data type: DataSource.BlockInputOutputEvents
Shape: (482, 3)
Data type: DataSource.BlockInputOutputEvents
Shape: (542, 3)
Data type: DataSource.BlockInputOutputEvents
Shape: (481, 3)
Data type: DataSource.BlockInputOutputEvents
Shape: (482, 3)
Data type: DataSource.BlockInputOutputEvents
Shape: (482, 3)
Data type: DataSource.BlockInputOutputEvents
Shape: (483, 3)
Data type: DataSource.BlockInputOutputEvents
Shape: (485, 3)
same_df shape: (4401, 6)
Data type: DataSource.Entropy
Skipping /media/<User>/DC/MAP_CreationOfNewDatasetsForDFL/code&data/0_raw_collected_data/Xi/sensor_2/2_ransomware/ENTROPY/b8_27_eb_df_51_85.csv
Data type: DataSource.Entropy
Skipping /media/<User>/DC/MAP_CreationOfNewDatasetsForDFL/code&data/0_raw_collected_data/Xi/sensor_2/4_bashlite/ENTROPY/final_entropy.csv
Data type: DataSource.Entropy
Skipping /media/<User>/DC/MAP_CreationOfNewDatasetsForDFL/code&data/0_raw_collected_data/Xi/sensor_2/6_beurk/ENTROPY/b8_27_eb_df_51_85.csv
Skipping entropy_data
Data type: DataSource.NetRecords
Shape: (481, 2)
Data type: DataSource.NetRecords
Shape: (482, 2)
Data type: DataSource.NetRecords
Shape: (481, 2)
Data type: DataSource.NetRecords
Shape: (542, 2)
Data type: DataSource.NetRecords
Shape: (481, 2)
Data type: DataSource.NetRecords
Shape: (482, 2)
Data type: DataSource.NetRecords
Shape: (481, 2)
Data type: DataSource.NetRecords
Shape: (481, 2)
Data type: DataSource.NetRecords
Shape: (483, 2)
same_df shape: (4394, 5)

5

#### Remove Dublicate Columns and Concatenate

=> some dont work => if Index error use merge manually

In [13]:
try:
    pd.concat(df_mean_collection, axis=1)
except Exception as ex:
    print(ex)

In [14]:
from collections import defaultdict

cols = defaultdict(int)
for dfs in df_mean_collection:
    for k in dfs.columns.tolist():
        cols[k] +=1

print("Dublicates:", [k for k, v in cols.items() if v > 1])

to_ignore = ["data_source", "label", "device"]

infos = pd.DataFrame(columns=to_ignore)

for dfs in df_mean_collection:
    for k in dfs.columns.tolist():
        if k in to_ignore:
            continue

        if cols[k] > 1:
            print(k)

            dfs.rename(columns={k: f'{k}_{dfs["data_source"].iloc[0]}'}, inplace=True)

    assert dfs["device"].nunique() == 1
    assert dfs["label"].nunique() == 9
    assert dfs["data_source"].nunique() == 1
    
    infos = pd.concat([infos,dfs[to_ignore]], axis=0)

    # for t,row in dfs.iterrows():
        # infos.append({"device": row["device"], "label": row["label"], "data_source": row["data_source"], "timestamp": t})
    
    dfs.drop(columns=to_ignore, inplace=True)

Dublicates: ['ext4:ext4_da_update_reserve_space', 'ext4:ext4_writepages_result', 'ext4:ext4_journal_start', 'writeback:sb_clear_inode_writeback', 'jbd2:jbd2_handle_start', 'writeback:writeback_dirty_inode_enqueue', 'ext4:ext4_es_lookup_extent_enter', 'block:block_bio_backmerge', 'block:block_touch_buffer', 'writeback:writeback_mark_inode_dirty', 'writeback:writeback_dirty_inode', 'ext4:ext4_unlink_enter', 'block:block_bio_remap', 'jbd2:jbd2_start_commit', 'jbd2:jbd2_checkpoint_stats', 'ext4:ext4_releasepage', 'jbd2:jbd2_handle_stats', 'writeback:global_dirty_state', 'ext4:ext4_free_inode', 'writeback:writeback_dirty_page', 'block:block_unplug', 'seconds', 'filemap:mm_filemap_delete_from_page_cache', 'filemap:mm_filemap_add_to_page_cache', 'block:block_getrq', 'block:block_dirty_buffer', 'label', 'device', 'data_source', 'tcp:tcp_probe', 'kmem:mm_page_alloc_zone_locked', 'sched:sched_process_exec', 'fib:fib_table_lookup', 'kmem:kmem_cache_alloc', 'gpio:gpio_value', 'kmem:mm_page_free', 'kmem:kfree', 'cpu-migrations', 'page-faults', 'task:task_newtask', 'timer:timer_start']
ext4:ext4_da_update_reserve_space
ext4:ext4_writepages_result
ext4:ext4_journal_start
writeback:sb_clear_inode_writeback
jbd2:jbd2_handle_start
writeback:writeback_dirty_inode_enqueue
ext4:ext4_es_lookup_extent_enter
block:block_bio_backmerge
block:block_touch_buffer
writeback:writeback_mark_inode_dirty
writeback:writeback_dirty_inode
ext4:ext4_unlink_enter
block:block_bio_remap
jbd2:jbd2_start_commit
jbd2:jbd2_checkpoint_stats
ext4:ext4_releasepage
jbd2:jbd2_handle_stats
writeback:global_dirty_state
ext4:ext4_free_inode
writeback:writeback_dirty_page
block:block_unplug
seconds
filemap:mm_filemap_delete_from_page_cache
filemap:mm_filemap_add_to_page_cache
block:block_getrq
block:block_dirty_buffer
tcp:tcp_probe
writeback:sb_clear_inode_writeback
kmem:mm_page_alloc_zone_locked
jbd2:jbd2_handle_start
sched:sched_process_exec
fib:fib_table_lookup
writeback:writeback_dirty_inode_enqueue
kmem:kmem_cache_alloc
block:block_bio_backmerge
block:block_touch_buffer
writeback:writeback_mark_inode_dirty
writeback:writeback_dirty_inode
gpio:gpio_value
block:block_bio_remap
jbd2:jbd2_start_commit
kmem:mm_page_free
kmem:kfree
cpu-migrations
writeback:global_dirty_state
page-faults
task:task_newtask
writeback:writeback_dirty_page
block:block_unplug
timer:timer_start
seconds
filemap:mm_filemap_add_to_page_cache
block:block_getrq
block:block_dirty_buffer
ext4:ext4_da_update_reserve_space
tcp:tcp_probe
ext4:ext4_writepages_result
ext4:ext4_journal_start
writeback:sb_clear_inode_writeback
kmem:mm_page_alloc_zone_locked
sched:sched_process_exec
fib:fib_table_lookup
ext4:ext4_es_lookup_extent_enter
kmem:kmem_cache_alloc
block:block_touch_buffer
ext4:ext4_unlink_enter
gpio:gpio_value
block:block_bio_remap
kmem:mm_page_free
jbd2:jbd2_checkpoint_stats
kmem:kfree
ext4:ext4_releasepage
cpu-migrations
writeback:global_dirty_state
jbd2:jbd2_handle_stats
ext4:ext4_free_inode
task:task_newtask
page-faults
timer:timer_start
seconds
filemap:mm_filemap_delete_from_page_cache
filemap:mm_filemap_add_to_page_cache
block:block_dirty_buffer

In [15]:
df_all = pd.concat(df_mean_collection[:-1], axis=1).merge(df_mean_collection[-1], how='outer', left_index=True, right_index=True)
df_all.sample(2)

,ext4:ext4_ext_rm_leaf,ext4:ext4_da_update_reserve_space_FLS_data,block:block_rq_issue,ext4:ext4_writepages_result_FLS_data,ext4:ext4_readpage,ext4:ext4_journal_start_FLS_data,ext4:ext4_da_reserve_space,ext4:ext4_es_lookup_extent_exit,writeback:sb_clear_inode_writeback_FLS_data,jbd2:jbd2_handle_start_FLS_data,...,filemap:mm_filemap_delete_from_page_cache_RES_data,LLC-loads,filemap:mm_filemap_add_to_page_cache_RES_data,iobusytime,block:block_dirty_buffer_RES_data,util,write_ops,write_kbs,(OLD) VarianceLength,(OLD) AverageLength
timestamp,,,,,,,,,,,,,,,,,,,,,
2023-11-09 16:28:05,26.0,26.0,28.0,26.0,0.0,1014.0,26.0,1258.0,26.0,869.0,...,2790.666667,3.308076e+08,17.666667,360.0,37.0,8.353333,23.6,3.066667,471563.617183,957.818182
2023-11-06 16:32:35,0.0,0.0,0.0,0.0,0.0,0.0,0.0,375.0,0.0,0.0,...,855.666667,2.832193e+08,0.000000,0.0,0.0,0.000000,0.0,0.000000,418667.416528,1068.560322

In [16]:
df_all = df_all.merge(infos["label"], how='outer', left_index=True, right_index=True)

In [17]:
df_all.shape, len(SELECTED_FEATURES)

((21974, 189), 260)

In [18]:
df_all

,ext4:ext4_ext_rm_leaf,ext4:ext4_da_update_reserve_space_FLS_data,block:block_rq_issue,ext4:ext4_writepages_result_FLS_data,ext4:ext4_readpage,ext4:ext4_journal_start_FLS_data,ext4:ext4_da_reserve_space,ext4:ext4_es_lookup_extent_exit,writeback:sb_clear_inode_writeback_FLS_data,jbd2:jbd2_handle_start_FLS_data,...,LLC-loads,filemap:mm_filemap_add_to_page_cache_RES_data,iobusytime,block:block_dirty_buffer_RES_data,util,write_ops,write_kbs,(OLD) VarianceLength,(OLD) AverageLength,label
2023-11-04 07:38:05,0.0,0.0,1.0,0.0,0.0,0.0,0.0,608.0,0.0,0.0,...,223631535.0,1.0,0.5,3.0,5.333333,1.066667,0.2,399283.940058,1096.969144,1_normal
2023-11-04 07:38:05,0.0,0.0,1.0,0.0,0.0,0.0,0.0,608.0,0.0,0.0,...,223631535.0,1.0,0.5,3.0,5.333333,1.066667,0.2,399283.940058,1096.969144,1_normal
2023-11-04 07:38:05,0.0,0.0,1.0,0.0,0.0,0.0,0.0,608.0,0.0,0.0,...,223631535.0,1.0,0.5,3.0,5.333333,1.066667,0.2,399283.940058,1096.969144,1_normal
2023-11-04 07:38:05,0.0,0.0,1.0,0.0,0.0,0.0,0.0,608.0,0.0,0.0,...,223631535.0,1.0,0.5,3.0,5.333333,1.066667,0.2,399283.940058,1096.969144,1_normal
2023-11-04 07:38:05,0.0,0.0,1.0,0.0,0.0,0.0,0.0,608.0,0.0,0.0,...,223631535.0,1.0,0.5,3.0,5.333333,1.066667,0.2,399283.940058,1096.969144,1_normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-11-14 23:11:05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464.0,0.0,0.0,...,236338858.5,0.0,0.0,0.0,0.000000,0.000000,0.0,367115.335839,1155.202960,4_bashlite
2023-11-14 23:11:05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464.0,0.0,0.0,...,236338858.5,0.0,0.0,0.0,0.000000,0.000000,0.0,367115.335839,1155.202960,4_bashlite
2023-11-14 23:11:35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,238396249.0,0.0,0.0,0.0,0.000000,0.000000,0.0,477506.786277,652.419643,4_bashlite
2023-11-14 23:11:35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,238396249.0,0.0,0.0,0.0,0.000000,0.000000,0.0,477506.786277,652.419643,4_bashlite
2023-11-14 23:11:35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,238396249.0,0.0,0.0,0.0,0.000000,0.000000,0.0,477506.786277,652.419643,4_bashlite

# Add Sys Call Data

In [5]:
def read_in_preprocessed_Xi_sensor_2():
    with np.load(file_path, allow_pickle=True) as npz:
        print(npz.files)
        X = npz['arr_0']
    print(X.shape)

    vectorizer = sys_func.create_CountVectorizer(vocab_file=vocab_file)
    cols = vectorizer.get_feature_names_out()
    cols = np.append(cols, [['timestamp'], ['label']])
    print (cols.shape)
    df = pd.DataFrame(X, columns=cols)
    # df.set_index('timestamp', inplace=True)
    read_in_files._clean_and_set_index_timestamp(df)

    label_encoder = sys_func.create_label_encoder_for_labels()
    df['label'] = label_encoder.inverse_transform(df['label'].values.astype(int))

    vectors = df.copy()
    print(vectors.shape)
    
    return vectors

sys_df = read_in_preprocessed_Xi_sensor_2()
# sys_df = only_return_selected_columns(sys_df)
# sys_df_mean = sys_df.resample(TIME_WINDOW, origin=START).mean()

['arr_0']
(10136, 156)

NameError: name 'sys_func' is not defined

In [20]:
sys_df.head(2)

,accept,accept4,access,adjtimex,bind,brk,capget,capset,chdir,chmod,...,uname,unlink,unlinkat,utimensat,utimes,wait4,waitid,write,writev,label
timestamp,,,,,,,,,,,,,,,,,,,,,
2023-11-04 07:38:05,0.0,0.000067,0.007107,0.001046,0.000089,0.009085,0.000485,0.000167,0.000088,0.0,...,0.001817,0.000025,0.0,0.0,0.0,0.003129,0.000110,0.005613,0.000060,1_normal
2023-11-04 07:38:16,0.0,0.000557,0.014561,0.002602,0.000000,0.017323,0.000804,0.000208,0.000145,0.0,...,0.004117,0.000124,0.0,0.0,0.0,0.006929,0.000273,0.013758,0.000149,1_normal

In [28]:
if sys_df["label"].unique().shape[0] != 9:
    raise Exception(f'Not all labels!!!: {sys_df["label"].unique()}')
sys_df["label"].unique()

array(['1_normal', '9_xmrig', '3_thetick', '5_httpbackdoor', '6_beurk',
       '7_backdoor', '2_ransomware', '8_bdvl', '4_bashlite'], dtype=object)

In [29]:
sys_df = only_return_selected_columns(sys_df)
sys_df_mean = sys_df.resample(TIME_WINDOW, origin=START).mean()

In [30]:
sys_df_mean.head(2)

,rename,getsockopt,capget,connect,llseek,pipe2,close,ftruncate64,sendmsg,sigreturn,...,getpgrp,chdir,dup2,getuid32,setgroups32,capset,dup,setsockopt,exit,open
timestamp,,,,,,,,,,,,,,,,,,,,,
2023-11-04 07:38:05,0.000093,0.003197,0.000655,0.011853,0.276449,0.000591,0.298918,0.000521,0.019471,0.002557,...,0.0,0.000101,0.003937,0.006448,0.0,0.000193,0.000313,0.013174,0.000000,0.0
2023-11-04 07:38:35,0.000083,0.004019,0.000690,0.014134,0.375092,0.000619,0.323217,0.000647,0.022788,0.002886,...,0.0,0.000082,0.004358,0.007245,0.0,0.000211,0.000301,0.015892,0.000053,0.0

In [31]:
all_df1 = df_all.merge(sys_df_mean, how='outer', left_index=True, right_index=True)
print(f"all_df1 shape: {all_df1.shape}")

all_df1 shape: (48241, 289)

In [32]:
all_df1.head(4)

,ext4:ext4_ext_rm_leaf,ext4:ext4_da_update_reserve_space_FLS_data,block:block_rq_issue,ext4:ext4_writepages_result_FLS_data,ext4:ext4_readpage,ext4:ext4_journal_start_FLS_data,ext4:ext4_da_reserve_space,ext4:ext4_es_lookup_extent_exit,writeback:sb_clear_inode_writeback_FLS_data,jbd2:jbd2_handle_start_FLS_data,...,getpgrp,chdir,dup2,getuid32,setgroups32,capset,dup,setsockopt,exit,open
2023-11-04 07:38:05,0.0,0.0,1.0,0.0,0.0,0.0,0.0,608.0,0.0,0.0,...,0.0,0.000101,0.003937,0.006448,0.0,0.000193,0.000313,0.013174,0.0,0.0
2023-11-04 07:38:05,0.0,0.0,1.0,0.0,0.0,0.0,0.0,608.0,0.0,0.0,...,0.0,0.000101,0.003937,0.006448,0.0,0.000193,0.000313,0.013174,0.0,0.0
2023-11-04 07:38:05,0.0,0.0,1.0,0.0,0.0,0.0,0.0,608.0,0.0,0.0,...,0.0,0.000101,0.003937,0.006448,0.0,0.000193,0.000313,0.013174,0.0,0.0
2023-11-04 07:38:05,0.0,0.0,1.0,0.0,0.0,0.0,0.0,608.0,0.0,0.0,...,0.0,0.000101,0.003937,0.006448,0.0,0.000193,0.000313,0.013174,0.0,0.0

In [33]:
spath = repo_base_path / "training" / "data" / f"all_df_{TIME_WINDOW}_{DEVICE_SOURCE}.csv"

all_df1.to_csv(str(spath))